body {
    padding: 40px;
    background-color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
}


/* Wrapper */
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    background: #1E1E1E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Main content */
.main-content {
    padding: 88px;
}

.main-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0 0 8 0;
}




/* About me */
.job-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #E2F56D;
    margin: 0 0 18px 0;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    margin: 0 0 28px 0;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
}

.about-me-container {
    margin-bottom: 64px;
}

/* Projects */
.projects-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #6A8CC5;

}

.project-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.project-list {
    padding: 0 0 0 16px;
    margin: 0;
}

.project-technology {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
}

.projects-container {
    padding: 0 0 48px 0;
}

/* Experience */
.work-experience-company {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6D9BF5;
    padding-top: 11px;
}

.work-experience-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}

.work-experience-item {
    margin-bottom: 16px;
}

.work-experiense-duties {
    color: #E2F56D;

}
.work-list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
}

.work-experiense-duties-list {
    padding: 0 0 0 14px;
    margin: 0;
}

.work-experience-container {
    margin-bottom: 44px;
}

/* Education */
.study-plase-name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6D9BF5;
}

.speciality {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #B9B9B9;
}
.education-container-item{
    margin-bottom: 40px;
}
.education-container {
    margin-bottom: 44px;
}
.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #696666;
    margin: 12px 0 8px 0;
}
.period-line{
    color: #696666;
}
/* Два останні класи я зробів 
    загальними для всіх дат переніс 
    в цей блок для дз*/

/* Sidebar */

.sidebar {
    background: #3F4041;
    width: 370px;

}

.techSkills,
.softSkills,
.contacts {
    padding: 48px 0px 0px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

/* Contacts */
.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
    margin-right: 8px;
}

.contacts-num {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
}

.contacts-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #6A8CC5;

}

.contacts-item {
    margin: 0px;
}


/* Skills */
.skills-list {
    margin: 0;
    padding: 0 0 0 12px;
}

.skills-list-item {
    color: #E2F56D;
}

.skills-list-text {
    color: #B9B9B9;
}

